.navbar {
    background-color: darkorchid !important;
    color: cornflowerblue;
}
body {
    background-image: url(../images/leaguebackground.png);
    background-color: purple;
    background-blend-mode: color-burn;
    background-size: cover;
    background-attachment: fixed;
}