.navbar {
    background-color: rgb(53, 53, 53);
    color: white;
    width: 100%;
}

.navbar input {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }

.navbar input {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
