<!-- Navigation Bar -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand">PDF Editor</span>
            <ul class="nav justify-content-end">
                <input id="file_input" name="file" type="file" accept="application/pdf" style="display: none;"/>
                <input type="button" value="Browse..." onclick="document.getElementById('file_input').click();" />
                <input id="download_btn" type="button" value="Download" name="download"/>
            </ul>
    </div>
</nav>